@import '../../../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.type-normal {
  background-color: #a8a878 !important;
}

.type-fire {
  background-color: #f08030 !important;
}

.type-water {
  background-color: #6890f0 !important;
}

.type-grass {
  background-color: #78c850 !important;
}

.type-electric {
  background-color: #f8d030 !important;
}

.type-ice {
  background-color: #98d8d8 !important;
}

.type-fighting {
  background-color: #c03028 !important;
}

.type-poison {
  background-color: #a040a0 !important;
}

.type-ground {
  background-color: #e0c068 !important;
}

.type-flyin {
  background-color: #a890f0 !important;
}

.type-psychic {
  background-color: #f85888 !important;
}

.type-bug {
  background-color: #a8b820 !important;
}

.type-rock {
  background-color: #b8a038 !important;
}

.type-ghost {
  background-color: #705898 !important;
}

.type-dark {
  background-color: #705848 !important;
}

.type-dragon {
  background-color: #7038f8 !important;
}

.type-steel {
  background-color: #b8b8d0 !important;
}

.type-fairy {
  background-color: #f0b6bc !important;
}

body {
  height: 100vh;
  width: 100%;
  background: #fff url(../img/body_bg.png) repeat;
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.fullpage-container {
  background: #fff url(../img/container_bg.png) repeat;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 600px) {
  .fullpage-container {
    padding: 2rem;
  }
}
.fullpage-container .title h1 {
  margin: 0 !important;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0.5rem;
  color: #919191;
  line-height: 1.5;
}
@media (min-width: 450px) {
  .fullpage-container .title h1 {
    font-size: 2rem;
    line-height: 2;
    padding: 1rem;
  }
}
.fullpage-container .main-container {
  width: 90%;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #919191;
  padding: 0.333rem 1rem;
}
.fullpage-container .main-container .filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  height: 4rem;
  background-color: #313131;
  color: #fff;
}
.fullpage-container .main-container .filter p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem;
}
.fullpage-container .main-container .filter input {
  line-height: 1.5;
  padding: 0.5em 0;
  text-indent: 0.5em;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #919191;
}
.fullpage-container .main-container .pokedex-results {
  margin-top: 4rem;
}
.fullpage-container .main-container .pokedex-results .pokemons-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .fullpage-container .main-container .pokedex-results .pokemons-list {
    padding: 0 2rem;
  }
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #919191;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon:hover {
  -webkit-animation: jump 1s ease 0s normal;
  -moz-animation: jump 1s ease 0s normal;
  -ms-animation: jump 1s ease 0s normal;
  animation: jump 1s ease 0s normal;
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon-image {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon-image img {
  width: 200px;
  height: 200px;
  object-fit: fill;
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon-name {
  margin: 0.5rem 0;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: capitalize;
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon-id {
  opacity: 0.666;
  align-self: baseline;
  margin: 0;
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon-types {
  display: flex;
  justify-content: space-evenly;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
}
.fullpage-container .main-container .pokedex-results .pokemons-list .pokemon-types .pill {
  line-height: 28px;
  max-width: 110px;
  width: 30%;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}
.fullpage-container .main-container .load-more {
  display: flex;
  justify-content: center;
  margin: 2rem auto 0.5rem auto;
  width: 100%;
}
.fullpage-container .main-container .load-more button {
  padding: 0.75em 1.25em 0.675em;
  background-color: #30a7d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  line-height: 125%;
  cursor: pointer;
}
.fullpage-container .main-container .load-more button:hover {
  background-color: #1b82b1;
}
.fullpage-container .main-container .load-more button:disabled, .fullpage-container .main-container .load-more button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

/*# sourceMappingURL=main.css.map */
