{
  "useTabs": false,
  "printWidth": 110,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "noSemi": true,
  "rcVerbose": true,

  "overrides": [
    {
      "files": "{*.json,*.y?(a)ml,*.md,.prettierrc,.stylelintrc,.babelrc}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "{*.css,*.sass,*.scss,*.less, *.html, *.htm}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "{**/.vscode/*.json,**/tsconfig.json,**/tsconfig.*.json}",
      "options": {
        "parser": "json5",
        "quoteProps": "preserve",
        "singleQuote": false,
        "trailingComma": "all"
      }
    }
  ]
}
