// -------------------------------------------------------------------------------------------------
// Name: _fullpage.scss
// Version: 0.0.1
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

.fullpage-container {
  background: $white url(../img/container_bg.png) repeat;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: 600px) {
    padding: 2rem;
  }

  .title {
    h1 {
      margin: 0 !important;
      padding: 0.5rem;
      font-weight: 700;
      font-size: 1.5em;
      margin: 0.5rem;
      color: $gray;
      line-height: 1.5;

      @media (min-width: 450px) {
        font-size: 2rem;
        line-height: 2;
        padding: 1rem;
      }
    }
  }

  .main-container {
    width: 90%;
    background-color: $white;
    margin: 0 auto;
    border: 1px solid $gray;
    padding: 0.333rem 1rem;

    .filter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      padding: 2rem;
      background-color: $gray-dark;
      color: $white;
      border-radius: 0.5rem;

      &-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        @media (min-width: 600px) {
          flex-direction: row;
          justify-content: space-between;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0.5rem;
      }

      input {
        line-height: 1.5;
        padding: 0.5rem 10px 0.5rem 0;
        text-indent: 0.5em;
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid $gray;
      }

      #search-error {
        visibility: hidden;
        align-self: center;
        color: $red;

        &.show {
          visibility: visible !important;
        }
      }
    }

    .pokedex-results {
      margin-top: 4rem;

      .pokemons-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        justify-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: 1200px) {
          padding: 0 2rem;
        }

        .pokemon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: $white;
          border: 1px solid $gray;
          border-radius: 0.5rem;
          padding: 0.5rem;
          transition: all 0.3s ease-in-out;
          color: $white;

          &:hover {
            -webkit-animation: jump 0.666s ease 0s normal;
            -moz-animation: jump 0.666s ease 0s normal;
            -ms-animation: jump 0.666s ease 0s normal;
            animation: jump 0.666s ease 0s normal;
          }

          &-image {
            width: 100%;
            height: 100%;
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 0.5rem;

            img {
              width: 200px;
              height: 200px;
              object-fit: fill;
            }
          }

          &-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          }

          &-name {
            margin: 0.5rem 0;
            font-weight: 600;
            font-size: 1.25rem;
            text-transform: capitalize;
          }

          &-id {
            font-family: $font-alternative;
            font-size: 1.5rem;
            opacity: 0.6;
            align-self: baseline;
            margin: 0;
          }

          &-types {
            display: flex;
            justify-content: space-evenly;
            border-radius: 1rem;
            background-color: rgba(0, 0, 0, 0.15);

            .pill {
              line-height: 28px;
              max-width: 110px;
              width: 30%;
              text-align: center;
              font-weight: 700;
              text-transform: capitalize;
            }
          }
        }
      }
    }

    .load-more {
      display: flex;
      justify-content: center;
      margin: 2rem auto 0.5rem auto;
      width: 100%;
    }
  }
}
