// -------------------------------------------------------------------------------------------------
// Name: main.scss
// Version: 0.0.6
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

// Colors
@import 'theme/_colors';

// Pokemon types
@import './theme/pokemon-types';

// Animations
@import './animation';

// Variables
@import './variables';

// Main
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: $white url(../img/body_bg.png) repeat;
  font-family: $font-principal;
}

button {
  padding: 0.75em 1.25em 0.675em;
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 5px;
  line-height: 125%;
  cursor: pointer;

  &:hover {
    background-color: $blue-dark;
  }

  &:disabled,
  &[disabled] {
    border: 1px solid $gray;
    background-color: $gray-light;
    color: $gray-dark;
    cursor: default;
  }
}

// Fullpage component
@import 'fullpage';

// Dialog component
@import 'dialog';

// Dialog Overlay component
@import 'overlay';

// Footer component
@import 'footer';
