// -------------------------------------------------------------------------------------------------
// Name: _colors.scss
// Version: 0.0.2
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

// White colors.
$white: #fff;

// Gray colors.
$gray: #919191;
$gray-dark: #313131;
$gray-light: #ccc;

// Blue colors.
$blue: #30a7d7;
$blue-dark: #1b82b1;

// Red colors.
$red: #e74c3c;
$red-dark: #c0392b;
$red-light: #f5b7b1;
