// -------------------------------------------------------------------------------------------------
// Name: _pokemon-types-bg.scss
// Version: 0.0.1
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------


.type-normal-bg {
  background-image: url('../img/pokemon-types/normal.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-fire-bg {
  background-image: url('../img/pokemon-types/fire.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-water-bg {
  background-image: url('../img/pokemon-types/water.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-grass-bg {
  background-image: url('../img/pokemon-types/grass.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-electric-bg {
  background-image: url('../img/pokemon-types/electric.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-ice-bg {
  background-image: url('../img/pokemon-types/ice.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-fighting-bg {
  background-image: url('../img/pokemon-types/fighting.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-poison-bg {
  background-image: url('../img/pokemon-types/poison.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-ground-bg {
  background-image: url('../img/pokemon-types/ground.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-flyin-bg {
  background-image: url('../img/pokemon-types/flyin.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-psychic-bg {
  background-image: url('../img/pokemon-types/psychic.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-bug-bg {
  background-image: url('../img/pokemon-types/bug.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-rock-bg {
  background-image: url('../img/pokemon-types/rock.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-ghost-bg {
  background-image: url('../img/pokemon-types/ghost.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-dark-bg {
  background-image: url('../img/pokemon-types/dark.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-dragon-bg {
  background-image: url('../img/pokemon-types/dragon.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-steel-bg {
  background-image: url('../img/pokemon-types/steel.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}

.type-fairy-bg {
  background-image: url('../img/pokemon-types/fairy.svg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: contain;
}
