// -------------------------------------------------------------------------------------------------
// Name: _colors.scss
// Version: 0.0.2
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

$white: #fff;

$gray: #919191;
$gray-dark: #313131;
$gray-light: #ccc;

$blue: #30a7d7;
$blue-dark: #1b82b1;
