// -------------------------------------------------------------------------------------------------
// Name: _pokemon-types-colors.scss
// Version: 0.0.1
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

// Normal type.
$color-pokemon-type-normal: #a8a878;

// Fire type.
$color-pokemon-type-fire: #f08030;

// Water type.
$color-pokemon-type-water: #6890f0;

// Electric type.
$color-pokemon-type-grass: #78c850;

// Grass type.
$color-pokemon-type-electric: #f8d030;

// Ice type.
$color-pokemon-type-ice: #98d8d8;

// Fighting type.
$color-pokemon-type-fighting: #c03028;

// Poison type.
$color-pokemon-type-poison: #a040a0;

// Ground type.
$color-pokemon-type-ground: #e0c068;

// Flying type.
$color-pokemon-type-flyin: #a890f0;

// Psychic type.
$color-pokemon-type-psychic: #f85888;

// Bug type.
$color-pokemon-type-bug: #a8b820;

// Rock type.
$color-pokemon-type-rock: #b8a038;

// Ghost type.
$color-pokemon-type-ghost: #705898;

// Dragon type.
$color-pokemon-type-dark: #705848;

// Dark type.
$color-pokemon-type-dragon: #7038f8;

// Steel type.
$color-pokemon-type-steel: #b8b8d0;

// Fairy type.
$color-pokemon-type-fairy: #f0b6bc;
