// -------------------------------------------------------------------------------------------------
// Name: _pokemon-types-colors.scss
// Version: 0.0.1
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

$color-pokemon-type-normal: #a8a878;
$color-pokemon-type-fire: #f08030;
$color-pokemon-type-water: #6890f0;
$color-pokemon-type-grass: #78c850;
$color-pokemon-type-electric: #f8d030;
$color-pokemon-type-ice: #98d8d8;
$color-pokemon-type-fighting: #c03028;
$color-pokemon-type-poison: #a040a0;
$color-pokemon-type-ground: #e0c068;
$color-pokemon-type-flyin: #a890f0;
$color-pokemon-type-psychic: #f85888;
$color-pokemon-type-bug: #a8b820;
$color-pokemon-type-rock: #b8a038;
$color-pokemon-type-ghost: #705898;
$color-pokemon-type-dark: #705848;
$color-pokemon-type-dragon: #7038f8;
$color-pokemon-type-steel: #b8b8d0;
$color-pokemon-type-fairy: #f0b6bc;
