// -------------------------------------------------------------------------------------------------
// Name: _pokemon-types.scss
// Version: 0.0.2
//
// Summary: JavaScript Pokedex
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@import './pokemon-types-colors';

.type-normal {
  background-color: $color-pokemon-type-normal !important;
}

.type-fire {
  background-color: $color-pokemon-type-fire !important;
}

.type-water {
  background-color: $color-pokemon-type-water !important;
}

.type-grass {
  background-color: $color-pokemon-type-grass !important;
}

.type-electric {
  background-color: $color-pokemon-type-electric !important;
}

.type-ice {
  background-color: $color-pokemon-type-ice !important;
}

.type-fighting {
  background-color: $color-pokemon-type-fighting !important;
}

.type-poison {
  background-color: $color-pokemon-type-poison !important;
}

.type-ground {
  background-color: $color-pokemon-type-ground !important;
}

.type-flyin {
  background-color: $color-pokemon-type-flyin !important;
}

.type-psychic {
  background-color: $color-pokemon-type-psychic !important;
}

.type-bug {
  background-color: $color-pokemon-type-bug !important;
}

.type-rock {
  background-color: $color-pokemon-type-rock !important;
}

.type-ghost {
  background-color: $color-pokemon-type-ghost !important;
}

.type-dark {
  background-color: $color-pokemon-type-dark !important;
}

.type-dragon {
  background-color: $color-pokemon-type-dragon !important;
}

.type-steel {
  background-color: $color-pokemon-type-steel !important;
}

.type-fairy {
  background-color: $color-pokemon-type-fairy !important;
}
